.DS_Store
/public/assets/build/css/*
!/public/assets/build/css/.gitkeep

/public/assets/build/js/*
!/public/assets/build/js/.gitkeep

/public/.htaccess

/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

public/mix-manifest.json
